<html>
<head>
    <title>Marand - Apps</title>
    <link rel="stylesheet" type="text/css" href="/static/css/no.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script src="/static/libs/jquery-3.5.1.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
<nav id="main-nav" class="black"></nav>
<div class="row">
    <div class="c90">
        <h1>Apps</h1>
        <br>
        <p>In my spare time I sometimes create things.</p>
        <br>
        <ul style="list-style-type: initial;">
            <li><a href="swordcraft">SwordCraft</a></li>
            <li><a href="starcraft-judication">StarCraft Judication</a></li>
            <li><a href="typecraft">TypeCraft</a></li>
            <li><a href="redrain">Red Rain</a></li>
            <li><a href="diceroller">Diceroller</a></li>
        </ul>
    </div>
</div>
</body>
</html>
