<a href="/">
    <img class="logo" src="/static/images/profil-billede-rounded.png">
</a>
<label for="hamburger">&#9776;</label>
<input type="checkbox" id="hamburger"/>
<ul>
    <li>
        <a href="/templates/blog/index.html">Blog</a>
        <ul>
            <li><a href="/templates/blog/perfect-programmer.html">The Perfect Programmer</a></li>
        </ul>
    </li>
    <li>
        <a href="/templates/apps">Apps</a>
        <ul>
            <li><a href="/games/swordcraft">SwordCraft</a></li>
            <li><a href="/games/starcraft-judication">StarCraft Judication</a></li>
            <li><a href="/games/typecraft">TypeCraft</a></li>
            <li><a href="/games/redrain">Red Rain</a></li>
            <li><a href="/apps/diceroller">Diceroller</a></li>
        </ul>
    </li>
    <li><a href="/static/CV_Dansk.pdf">CV</a></li>
    <li><a href="/templates/favorites.html">Favorites</a></li>
</ul>
